<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636108923799-blo6q9oqt0ed1acrd22kp7l6eboqruj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636108923799-blo6q9oqt0ed1acrd22kp7l6eboqruj5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>636108923799-6eoo32o1sih3fktncav3bvj87pa1f2tn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDf-5RnYVfspQVwe9BEbqEdUKmGkUgrMZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>636108923799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.morapp</string>
	<key>PROJECT_ID</key>
	<string>mor-store-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mor-store-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636108923799:ios:d5c8072eba67b5e19fdad2</string>
</dict>
</plist>